# ==================================
# Environnements Virtuels Python
# ==================================
/venv/
/.venv/
/env/
/.env/
/ENV/

# ==================================
# Caches Python et fichiers compilés
# ==================================
__pycache__/
*.py[cod]
*$py.class

# ==================================
# Fichiers et dossiers des éditeurs
# ==================================
.vscode/
.idea/

# ==================================
# Autres
# ==================================
*.egg-info/
dist/
build/
